* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

header {
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-right: 70px;
  display: flex;
  background-color: #000000;
  color: aliceblue;
  justify-content: center;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  cursor: pointer;
  width: 170px;
  display: flex;
  justify-content: center;
}

nav ul li a {
  font-size: 2rem;
  padding-right: 3rem;
  text-transform: uppercase;
  color: rgb(148, 6, 117);
  text-align: center;
}

nav ul li:hover {
  color: rgb(226, 186, 53);
  font-weight: 700;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}
.baner {
  width: 100%;
  height: 840px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(../imagenes/47a990c0fcc3bf2124a160df2c267717.jpg);
  background-repeat: no-repeat;
  background-position: right;
  color: aliceblue;
  background-color: #000000;
}

.logo img {
  display: flex;
  width: 50%;
  height: auto;
  justify-content: left;
  align-items: left;
  margin: auto;
  margin-left: 120px;
  padding-top: 90px;
}

.video {
  display: flex;
  width: 80%;
  height: 500;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 100px;
}
